* {
    box-sizing: border-box;
}
body {
    font-family:Verdana;
    background-color:#e5e5e5;
}
header {
    padding:5px;
    text-align:center;
    border-bottom: 4px solid #bfbfbf;
}
header h4 {
    margin: 10px 0;
}
#main-content {
    background-color: #EFEFEF;
    margin: 0 auto;
}

.cards-section {
    float: left;
    width: 75%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
}
.button-section {
    float: right;
    width: 25%;
    padding: 0 20px;
}
.cards-section .cards {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.cards-section .cards .card-color {
    height: 200px;
    width: 100%;
    display: flex;
}
.cards-section .cards .card-color .title-index {
    color: white;
    font-size: 80px;
    margin: 0px;
    margin: auto;
}

.cards.card_1,
.cards.card_8 {
    background-color: #6f98a8;
}

.cards.card_2,
.cards.card_4 {
    background-color: #2b8ead;
}

.cards.card_3,
.cards.card_5,
.cards.card_9 {
    background-color: #2f454e;
}

.cards.card_6,
.cards.card_7 {
    background-color: #bfbfbf;
}

footer {
    clear: both;
    padding:10px;
    text-align:center;
}
button {
    padding: 10px;
    margin: 10px;
    width: 100px;
    background-color: #6cc3d6;
    border: 1px solid #6cc3d6;
    border-radius: 4px;
    box-shadow: 0px 3px 2px 0px #055961;
    color: #fff;
    text-transform: uppercase;
}
.button-section button  {
    display: block;
}
@media only screen and (max-width:470px) {
    /* For mobile phones: */
    header {
        background-color: #000000;
        color: #ffffff;
        border-bottom: none;
    }
    .button-section,
    .cards-section {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    .cards-section .cards {
        height: 40px;
        margin-top: 5px;
    }
    .cards-section .cards .card-color {
        background-color: #ffffff;
        height: 40px;
    }

    .cards-section .cards.card_1,
    .cards-section .cards.card_8 {
        border-left: 5px solid #6f98a8;
    }

    .cards-section .cards.card_2,
    .cards-section .cards.card_4 {
        border-left: 5px solid #2b8ead;
    }

    .cards-section .cards.card_3,
    .cards-section .cards.card_5,
    .cards-section .cards.card_9 {
        border-left: 5px solid #2f454e;
    }

    .cards-section .cards.card_6,
    .cards-section .cards.card_7 {
        border-left: 5px solid #bfbfbf;
    }

    .cards-section .cards .card-color .title-index {
        color: black;
        font-size: 18px;
    }
    .button-section {
        display: flex;
        justify-content: center;
    }
}
